body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* 배경색을 흰색으로 변경 */
    color: #000000; /* 텍스트 색상을 검정색으로 변경 */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #333;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.container {
    margin-top: 60px;
    padding: 20px;
}

.course-info {
    margin-bottom: 20px;
}

.course-info p {
    margin: 5px 0;
}

.course-reviews {
    background-color: #f9f9f9; /* 배경색을 밝은 회색으로 변경 */
    padding: 20px;
    border-radius: 10px;
}

.course-reviews h2 {
    margin-bottom: 20px;
    position: relative;
}

.review-container {
    max-height: 400px; /* 필요에 따라 높이를 조절합니다 */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.rating {
    font-size: 1em;
    margin-bottom: 5px;
}

.filled-star {
    color: gold; /* 칠해진 별의 색상을 금색으로 */
}

.empty-star {
    color: lightgray; /* 빈 별의 색상을 회색으로 */
}

.more-reviews-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.more-reviews-btn:hover {
    background-color: #555;
}
