/* main_styles.css */

body, html {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 72px;
    position: fixed;
}

.navbar .menu-btn {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.navbar .menu-btn:hover {
    background-color: #ddd;
    color: black;
}

.navbar .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.navbar .dropdown-content a:hover {
    background-color: #555;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px; /* 메뉴 바를 피하기 위해 왼쪽 마진 추가 */
}

h1 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#timetable {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
}

#timetable th, #timetable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 120px; /* 너비를 고정 */
    height: 50px; /* 높이를 고정 */
}

#timetable th {
    background-color: #f4f4f4;
}

.small-text {
    font-size: 0.8em; /* 글자 크기를 줄이기 위해 상대적인 크기 사용 */
    color: #555; /* 글자 색상을 변경할 수도 있음 (선택 사항) */
}

/* 강의 위에 마우스 오버 시 텍스트 표시 */
.review-hover {
    position: relative;
    cursor: pointer;
}

.review-hover::after {
    content: "강의평 페이지로 이동";
    position: absolute;
    top: -20px; /* 텍스트를 셀 상단 중앙에 배치 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    display: none;
    white-space: nowrap;
}

.review-hover:hover::after {
    display: block;
}
