/* body와 html 요소에 대한 스타일 수정 */
body, html {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* 배경색을 변경 */
    color: #333; /* 텍스트 색상을 변경 */
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 72px;
    position: fixed;
}

.navbar .menu-btn {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.navbar .menu-btn:hover {
    background-color: #ddd;
    color: black;
}

.navbar .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.navbar .dropdown-content a:hover {
    background-color: #555;
}

/* container 스타일 수정 */
.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* h1 스타일 수정 */
h1 {
    font-size: 1.5em; /* 폰트 크기 수정 */
    margin-bottom: 5px; /* 하단 여백 추가 */
    margin-top: 40px;
}

/* timetable 스타일 수정 */
#timetable {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
    margin: 10px auto 20px; /* 위 여백 추가 및 하단 여백 수정 */
}

/* timetable 테이블의 th, td 스타일 수정 */
#timetable th, #timetable td {
    border: 1px solid #ddd; /* 테두리 색상 변경 */
    padding: 10px;
    text-align: center;
}

/* timetable 테이블의 th 스타일 수정 */
#timetable th {
    background-color: #f4f4f4;
    font-weight: normal; /* 굵은 글자체 제거 */
}
